
<div class="p-6">
      <h1 class="text-2xl font-bold mb-4 text-blue-800">Menú Principal</h1>

      <nav class="mb-6 space-x-6">
        <a routerLink="estudiante" class="text-blue-600 hover:underline">Estudiante</a>
        <a routerLink="beca" class="text-blue-600 hover:underline">Beca</a>
        <a routerLink="tipobeca" class="text-blue-600 hover:underline">TipoBeca</a>
        <a routerLink="SolicitudBeca" class="text-blue-600 hover:underline">SolicitudBeca</a>
        <a routerLink="Requisito" class="text-blue-600 hover:underline">Requisito</a>
        <a routerLink="PeriodoAcademico" class="text-blue-600 hover:underline">PeriodoAcademico</a>
        <a routerLink="Estado" class="text-blue-600 hover:underline">Estado</a>
        <a routerLink="DetalleRequisitoBeca" class="text-blue-600 hover:underline">DetalleRequisitoBeca</a>
        <a routerLink="Carrera" class="text-blue-600 hover:underline">Carrera</a>
        <a routerLink="AreaConocimiento" class="text-blue-600 hover:underline">AreaConocimiento</a>
        <a routerLink="Usuario" class="text-blue-600 hover:underline">Usuario</a>
         <a routerLink="TipoPago" class="text-blue-600 hover:underline">TipoPago</a>
         <a routerLink="DetallePago" class="text-blue-600 hover:underline">DetallePago</a>
          <a [routerLink]="['/inicio/reporte']" class="text-blue-600 hover:underline">Reporte</a>
      </nav>
    
      <router-outlet></router-outlet>
    </div>